.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #272533;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color: #5c0431;
}
.login-wrapper{
  text-align: center;
  color: antiquewhite;
}
#search-item{
  padding-top: 20px;
}
#search-item input{
  width: 350px;
  padding: 8px;
}
.card-details{
  color: antiquewhite;
  position: relative;
  padding-top: 40px;
  
}